* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.loggedin {
    background-color: #f3f4f7;
}

.navtop {
    background-color: #006400;
    height: 60px;
    width: 100%;
    border: 0;
}

.navtop div {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}

.navtop div h1, .navtop div a {
    display: inline-flex;
    align-items: center;
}

.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #eaebed;
    font-weight: normal;
}

.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c1c4c8;
    font-weight: bold;
}

.navtop div a  {
    padding: 2
}

.navtop p {
    font-weight: bold;
}


.centre-links {
    text-align: center;
    padding: 20px 0;
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    width: 100%;
}

.centre-links a {
    padding: 10px 20px;
    text-decoration: none;
    color: #006400;
    font-weight: bold;
}

.centre-links p {
    font-weight: bold;
}
