<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profiles</title>
</head>
<body>
    <h1>User Profiles</h1>
    <body class="loggedin">
	    <nav class="navtop">
		    <div>
		    </div>
	    </nav>

    {% if user_profiles.items %}
        <ul>
            {% for user in user_profiles.items %}
                <li>
		    <a href="{{ url_for('profile.profile', user_id=user.id) }}">
			    <h2>{{ user.username }}</h2>
			    <p>Gender: {{ user.gender }}</p>
		   </a>
                </li>
            {% endfor %}
        </ul>

        {% if user_profiles.has_next %}
            <a href="{{ url_for('home.home', page=user_profiles.next_num) }}">Next</a>
        {% endif %}

        {% if user_profiles.has_prev %}
            <a href="{{ url_for('home.home', page=user_profiles.prev_num) }}">Previous</a>
        {% endif %}
    {% else %}
        <p>No other user profiles found.</p>
    {% endif %}
</body>
</html>

