{% extends 'base_layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
	<tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
	<tr>
            <td>Location:</td>
            <td>{{ account['location'] }}</td>
        </tr>
	<tr>
            <td>Product Type:</td>
            <td>{{ account['product_type'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}
