<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Signup</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
	</head>
	<body>
		<div class="signup">
			<h1>Signup</h1>
			<div class="links">
				<a href="{{ url_for('signup.signup') }}" class="active">Signup</a>
			</div>
			<form action="{{ url_for('signup.signup') }}" method="post" autocomplete="off">
				<label for="username">
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
				<label for="email">
                                </label>
                                <input type="email" name="email" placeholder="Email" id="email" required>
                                <label for="location">
				</label>
                                <input type="text" name="location" id="location" placeholder="Location" required><br>
				<label for="password">
                                </label>
                                <input type="password" name="password" placeholder="Password" id="password" required>
                                <div class="msg">{{ msg }}</div>
				<div class="links">
					<p> Have account? Login Instead <a href="{{ url_for('login.login') }}" class="active">Login</a></p>
                                </div>
				<input type="submit" value="Signup">
			</form>
		</div>
	</body>
</html>
